body {
            font-family:Arial, Helvetica, sans-serif;
            font-size:14px;
        }
        .navbar-custom{
        background-color: #123977;
        }
        .navbar a{
        color: white !important;
        font-size: 1.2em !important;
        }
        .nav-item{

        }
        .navbar li{
        padding-right: 5px;
        }
        .box {
        border:#ffffff solid 1px;
        }
        .containerH{
            padding-top: 50px;
        }
        .footer{
        background-image: url("../images/footer1.jpg");
        padding: 30px 0px 30px 0px;
        margin-top: 40px;
        }